* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #0a7cff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 15px;
  color: #222;
}

.qr-img {
  width: 200px;
  margin: 15px auto;
  display: block;
  border-radius: 10px;
}

.upi-box {
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.upi-box button {
  margin-top: 6px;
  padding: 8px 15px;
  background: #0a7cff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.note {
  font-size: 13px;
  color: #444;
  margin: 10px 0;
}

.pay-btn {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  background: #0072ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.pay-btn:hover {
  background: #0055cc;
}
